@import "variables.less";

div.pending-bb-org {

  div.pending-bb-org-action-logo {
    padding: @grid*2.5 @grid*3 @grid*2 @grid*5;
    width: 20%;
    float: left
  }

  section.approve-org-section {
    display: inline-block;
  }

  section.bb-org-approval-details {
    padding-top: @grid*2;
    padding-bottom: @grid;
    width: 70%;
    float: left
  }

  div.dvcs-orgdata-container {
    overflow: hidden;
    padding-bottom: @grid*2
  }

  h2.bb-org-access-request {
    padding-bottom: @grid;
  }

  form.buttons-container {
    padding-top: 20px;
  }
}
