@import "variables.less";

#dvcs-feature-discovery-dialog {

  .aui-dialog2-header {
    border: none;
    background-color: white;
    height: 48px;
  }

  .aui-dialog2-content {
    padding: 0;
    height: auto;
    max-height: none;
  }

  .dvcs-feature-discovery-page {
    text-align: center;
    padding: 0 @grid*3 @grid*4;

    .dvcs-feature-discovery-link-container {
      padding-top: @grid*3;
    }

    .dvcs-feature-discovery-img {
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      height: 170px;
    }

    .dvcs-feature-discovery-clearer-picture-img {
      background-image: url("images/feature-discovery/clearer-picture.svg");
      width: 284px;
    }

    .dvcs-feature-discovery-do-once-img {
      background-image: url("images/feature-discovery/do-things-once.svg");
      width: 282px;
    }

    .dvcs-feature-discovery-release-img {
      background-image: url("images/feature-discovery/release-with-confidence.svg");
      width: 189px;
    }

  }

}